body {
  margin: 0;
  font-family: 'Roboto Slab';
  font-size: 60px;
  font-weight: 100;
  letter-spacing: 2px;
  color: white;
}

#word {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}